<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3" android:versionName="1.0" android:installLocation="internalOnly" package="com.rabbitfootTUN_SD.pYrplerabbYt"
  xmlns:android="http://schemas.android.com/apk/res/android" xmlns:pluto="http://www.w3.org/2001/pluto.html">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-feature android:name="com.tmobile.software.themes" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true" />
    <application android:label="@string/helper_theme_title" android:icon="@drawable/theme_icon">
        <activity android:label="@string/theme_title" android:name=".Helper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/lp_theme_title" android:name="Skin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_PEOPLE" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_BOOKMARKS" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_CALENDAR" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_MESSAGING" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_TWITTER" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_FACEBOOK" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_FRIENDS" />
                <category android:name="com.fede.launcher.SKIN_WIDGET_GMAIL" />
            </intent-filter>
        </activity>
        <activity android:name="ThemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="org.enate.BESTApp.Theme" />
            </intent-filter>
        </activity>
        <activity android:label="@string/adw_theme_title" android:name=".main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/theme_title" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
        </activity>
        <activity android:label="@string/dock_theme_title" android:icon="@drawable/theme_icon" android:name=".docks">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/wp_theme_title" android:icon="@drawable/wallpaper_icon" android:name="wallpaper" android:screenOrientation="nosensor" android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name="docksProvider" android:authorities="com.rabbitfootTUN_SD.pYrplerabbYt.docksProvider" />
    </application>
    <application android:label="@string/cm_theme_title" android:icon="@drawable/cmtheme_icon">
        <activity android:label="@string/theme_name" android:name="com.cmjatx2wne.pYrplerabbYt.Foo" />
    </application>
    <theme pluto:themeId="pYrplerabbYt" pluto:styleId="@style/pYrplerabbYt" pluto:name="@string/cm_theme_name" pluto:preview="@drawable/preview" pluto:author="@string/author" pluto:copyright="@string/copyright" pluto:styleName="@string/style_appearance_name">
        <meta-data android:name="com.tmobile.theme.redirections" android:resource="@xml/redirections" />
    </theme>
</manifest>
